body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    height: 250px;
    border: 2px solid black;
}

.img1,.img2,.img3{
    display: none;
}

.dog:hover ~.img1{
    display: block;
}

.cat:hover ~.img2{
    display: block;
}

.lion:hover ~.img3{
    display: block;
}