body{
    height : 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:300px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color ;
    transition-property: border-radius;
    transition-property: height;
    transition-duration: 4s;
}

.container:hover{
    background-color: gold;
    border-radius: 30px;
    height: 400px ;
}

h1{
    color: black;
    display: inline;
    opacity: 0;
    transition-property: opacity;
}

.container:hover h1{
    opacity: 1;
}