body{
    height: 590px;
    border: 2px solid black;
}

.container{
    width: 300px;
    height: 200px;
    display: none;
    font-size: 40px;
}

.item:hover{
    color: red;
}

label, input{
    zoom: 2;
}

#menu:checked ~.container{
    display: block;
}

